@font-face {
    src: url("../RES/FONTS/Gotu-Regular.ttf");
    font-family: Gotu;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotu, sans-serif;
    font-weight: 400;
}

.comments{
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    width:40%;
    min-width: 300px;
}

.chat{
    border-radius: 20px;
    background-color: rgba(225, 224, 224, 0.17);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.48) 0 8px 24px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(1px);
    background-image: url("../RES/IMG/register.jpg");
    background-attachment: fixed;
}

input{
    background-color: transparent;
    padding: 0.2rem;
    border: none;
    border-bottom: 1.5px #ffffff solid;
    color: white;
    width: 20rem;
}

input::placeholder{
    color: #ffffff;
    font-size: 13px;

}

input:focus{
    outline: none;
    border-color: var(--primary);
}

.home-page{
    background-color: rgba(255, 255, 255, 0.49);
    width: 150px;
    border-radius: 20px;
    height: 50px;
    position: absolute;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}

.home-page a {
    font-size: 1.2rem;
    color: black;
    text-decoration: none;
}


button{
    border: none;
    background-color: var(--secondary);
    height: 50px;
    width: 150px;
    padding: 5px 5px 5px 10px;
    color: var(--font);
    font-size: 0.8rem;
    font-weight: 1000;
    box-shadow: rgba(0, 0, 0, 0.3) 0 8px 24px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    text-transform: uppercase;
}




button:before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(255, 255, 255, 0.24);
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function:cubic-bezier(.47,1.5,.41,.8);
}

button:before{
    transform: scaleX(0);
}

button:hover:before{
    transform: scaleX(1);
}

a.username{
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
}