:root {
    --primary: #31525b;
    --secondary: rgb(222, 221, 221);
    --tertiary: #6b6868;
    --font: rgba(0, 0, 0, 0.87);
    --fontw: #fff;
}

/*© Wellness Center Mackovic Mark (IW8RXX) , Makó Ádám Péter (PH2BC8) 2023, Szegedi Tudományegyetem*/
