@import "Colors.css";

h2{
    color: var(--font);
}

.header{
    min-height: 100vh;
    width: 100vw;
    background-image: url("../RES/IMG/gallery.jpeg");
    background-position: center;
    background-size: cover;
    position: relative;
    border: 0 ;
}


.welcome-text{

    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
.welcome-text h1{
    color: #ffffff;
    font-size: 4rem;
}

h2{
    color: white;
}


/* ----------------------------------*/

.main{
    padding-top: 2rem;
}

span{
    pointer-events: none;
}

.pic-row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
}

.pic-column{
    position: relative;
    padding: 0.5rem;
    flex: 25%;
    width: 25%;
}

.gallery-pic{
    position: relative;
    display: block;
    z-index: 3;
    width: 100%;
    height: 20rem;
    border-radius: 10px;
    object-fit: cover;
    transition: 0.5s;
}

.gallery-text{
    user-select: none;
    display: block;
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 2rem;
    color: var(--secondary);
}

.gallery-pic:hover{
    transform: scale(1.02);
    filter: brightness(50%);
    z-index: 1;
}

@media all  and (max-width: 1200px) {
    .pic-column{
        flex: 50%;
        max-width: 50%;
    }
}

@media all  and (max-width: 700px) {
    .pic-column{
        flex: 100%;
        max-width: 100%;
    }
}
/*© Wellness Center Mackovic Mark (IW8RXX) , Makó Ádám Péter (PH2BC8) 2023, Szegedi Tudományegyetem*/